---
const {
  src,
  alt,
  imageWidth = 50,
  imageOnLeft = true,
  topAlign = false,
} = Astro.props
const textWidth = 100 - imageWidth
---

<div
  class={`image-text-block flex flex-col not-prose md:flex-row gap-4 md:gap-8 w-full ${topAlign ? "items-start" : "items-center"} ${imageOnLeft ? "" : "md:flex-row-reverse"}`}
  style={`--image-width:${imageWidth}%; --text-width:${textWidth}%`}
>
  <img src={src} alt={alt} class="rounded w-full" />
  <div class="w-full prose md:prose-lg">
    <slot />
  </div>
</div>

<style>
  @media (min-width: 768px) {
    .image-text-block > img {
      width: var(--image-width);
    }
    .image-text-block > div {
      width: var(--text-width);
    }
  }
</style>
