---
const { sideBarActiveItemID } = Astro.props
const activeClass = "bg-base-300"
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li>
    <a
      class={`py-3 my-0.5 text-base hover:bg-base-content/10 active:bg-base-content/10 ${sideBarActiveItemID === "home" ? activeClass : ""}`}
      id="home"
      href="/"
      >Home</a
    >
  </li>
  <li>
    <a
      class={`py-3 my-0.5 text-base hover:bg-base-content/10 active:bg-base-content/10 ${sideBarActiveItemID === "bio" ? activeClass : ""}`}
      id="bio"
      href="/bio"
      >Bio</a
    >
  </li>
  <li>
    <a
      class={`py-3 my-0.5 text-base hover:bg-base-content/10 active:bg-base-content/10 ${sideBarActiveItemID === "lessons" ? activeClass : ""}`}
      id="lessons"
      href="/lessons"
      >Lessons</a
    >
  </li>
  <li>
    <a
      class={`py-3 my-0.5 text-base hover:bg-base-content/10 active:bg-base-content/10 ${sideBarActiveItemID === "music" ? activeClass : ""}`}
      id="music"
      href="/music"
      >Music</a
    >
  </li>
  <li>
    <a
      class={`py-3 my-0.5 text-base hover:bg-base-content/10 active:bg-base-content/10 ${sideBarActiveItemID === "contact" ? activeClass : ""}`}
      id="contact"
      href="/contact"
      >Contact</a
    >
  </li>
</ul>