---
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Fog City Jazz CMS</title>
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <link rel="icon" href="/favicon.svg" />
    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
  </head>
  <body>
    <script type="module">
      import setupCMS from './cms';
      // @ts-expect-error - CMS is loaded globally from the CDN script
      const CMS = window.CMS;
      console.log(CMS);
      setupCMS(CMS);
      CMS.init();
    </script>
  </body>
</html>
